.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

 &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    /* height: 581px; */
    padding: 40px;

    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(0.7);
        }
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    padding: 6px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
            border-color: var(--blue);
        }
}

.modal-close-btn__icon {
    display: block;
    fill: var(--black);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-close-btn:hover &, .modal-close-btn:focus & {
            fill: var(--blue);
        }
}

.contact-form__title{
    display: block;
    margin-bottom: 12px;
    text-align: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color:var(--main-color);
}

.contact-form__field{
    display: block;
    position: relative;

    &+& {
        margin-top: 10px;
    }
}

.contact-form__input {
    width: 100%;
    margin: 0;
    padding: 12px 12px 12px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;

    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    color: var(--main-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form__field:focus-within>& {
            outline: none;
            border-color: var(--blue);
        }
}

.contact-form__label {
    /* position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%); */
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1,17;
    letter-spacing: 0.01em;
    color: var(--grey);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form__field:focus-within>& {
            /* transform: translate(-12px, -38px); */
            color: var(--blue);
        }
}

.contact-form__icon{
    position: absolute;
    bottom: 12px;
    left: 12px;
    fill: var(--main-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form__field:focus-within>& {
            fill: var(--blue);
        }
}

/* .contact-form__input:not(:placeholder-shown)+.contact-form__label,
.contact-form__message:not(:placeholder-shown)+.contact-form__label{
    transform: translate(-12px, -38px);
} */

.contact-form__message {
    width: 100%;
    height: 120px;
    padding: 12px 12px 12px 42px;
    display: block;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    resize: none;

    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    color: var(--main-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form__field:focus-within>& {
            outline: none;
            border-color: var(--blue);
        }
}

.contact-form__label-message {
    /* top: 22px;
    left: 42px;
    transform: translateY(-50%); */
    margin-bottom: 4px;
}

.contact-form__checkbox-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey);
}

.contact-form__checkbox-field a {
    color: var(--blue);
    text-decoration: underline ;
}

.contact-form__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contact-form__icon-check {
    margin-right: 6px;

    fill: transparent;
    border: 2px solid var(--main-color);
    border-radius: 2px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form__checkbox-field:focus-within & {
            border-color: var(--blue);
        }
    
        .contact-form__checkbox:checked+& {
            border: none;
            background-color: var(--blue);
            fill: #FFFFFF;
            stroke: #FFFFFF;
        }
}

.contact-form__submit-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 52px;
}
