:root {
    /* font */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* color */
    --main-color: #212121;
    --black: #000000;
    --blue: #2196F3;
    --grey: #757575;
    ;
    --white: #FFFFFF;
    --white-transparent: rgba(255, 255, 255, 0.6);
    --backgr-dark-grey: #2F303A;
    --backgr-light-grey: #F5F4FA;
    --backgr-btn-active: #188CE8;
    --icon-svg: #AFB1B8;
}